 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hey,
                    This is Sam.I am currently an intern at Cognizant Technology Solutions.
                    I am an enthusiast learner and a person who loves challenges and problem
                    solving.Throughout my college years I have always sneaked outside the 
                    curriculum to learn something new and trending technologies. Inernet
                    Of Things(IOT), Computer Vision and Machine Learning are some of Thechnolies
                    that I am really passionate about. With a good analytical and problem solving skill I am ready to take up any challenge presented before me(<i>of course it must interest me!! :-p</i>) You can browse through my projects to have some idea of my works and knowledge.
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>Other than techology,coding and work I am a book worm. Books that have its roots to historical or prehistorical events intersts me a lot.Acording to me books must be only for stories and thrillers. Curricula is best taught in a class. 
                        <i>Knowledge is power and gathering it never ends.</i>  </p>
                </div>
                
            </div>
        </div>
    </section>
